################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraduationProject(MedicalAssistant)/FileContentIndex/1e8d0f7f-b1df-4f80-929a-08af9da7e30c.vsidx
